li.ng-enter,
li.ng-leave {
  position: relative;
  display: block;
  .transition(400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all);
}
li.ng-enter.ng-enter-active,
li.ng-leave {
  opacity: 1;
  right: 0;
  height: 30px;
}
li.ng-leave.ng-leave-active,
li.ng-enter {
  opacity: 0;
  right: -30px;
  height: 0;
}
