/* Data table */
.table {
  margin-bottom: 0;

  tr {
    /*background: #cd5c5c;*/

    &.grayed {
      // TODO - fix btn/popover opacity
      opacity: .2;
    }
    &.hovered td {
      background: fadeout(#428BCA, 95%);
      div {
        //background: none !important;
        outline: none !important;
      }
    }

    /*Group row*/
    &.ng-table-group td {
      height: auto;
      padding: 3px 8px;
      background: #f5f5f5;
      a {
        display: block;
      }
    }

    /*Vertical borders*/
    th + th, td + td {
      border-left: 1px solid #ddd;
    }

    /*All cells*/
    th, td {
      div {
        &.max {
          background: #f5fffa;
          outline: 8px solid #f5fffa; /*hack!*/
        }
      }

      &.cell, &.editable {
        padding: 1px;

        .cell-input {
          width: 100%;
          height: 34px;
          background: transparent;
          border: none;
          .box-shadow(none);
          &:active, &:focus {
            outline: 0;
          }
          &.max {
            background: #f5fffa;
            &:active, &:focus {
              background: transparent;
            }
          }
        }
        &.edited {
          background-color: #f9f7d0;
          .box-shadow(~"inset 0 0 1px rgba(0,0,0,.075), 1px 1px 5px rgba(102, 175, 233, .6)");
          input.ng-dirty.ng-invalid {
            background-color: #ffe5e5;
          }
        }
        &.text {
          input {
            padding: 7px;
          }
        }
        &.number {
          input {
            padding: 2px 2px 2px 8px;
          }
        }
      }
      &.last {
        .width-full(36px);
      }
      &.add-column {
        .width-full(50px);
        text-align: center;
        padding: 7px 5px;

        a {
          color: #999;
          font-weight: normal;
          font-style: italic;
        }
      }
    }

    /*Header/footer cells*/
    th {
      position: relative;
      text-align: left;
      background: #f5f5f5;

      &.sortable {
        min-width: 80px;
        padding: 7px 0 7px 7px;
        div {
          &:before, &:after {
            right: 5px;
          }
        }
      }

      &.editable {
        min-width: 80px;
      }
    }

    /*Body Cells*/
    td {
      /*Fix empty cells collapse*/
      height: 36px;

      &.cell.editable {
        cursor: text;
      }
      &.static {
        padding: 8px;
        background: #f5f5f5;
      }
      &.ordinary, &.number-static {
        padding: 8px;
      }
      &.attention, .attention {
        font-style: italic;
        color: #999;
        .clickable {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.dbg {
    tr.bold {
      td {
        font-weight: bold;
      }
    }
    td {
      padding: 2px 8px;
    }
  }
}
/*Hide pagination*/
.ng-table-pager {
  display: none;
}