// Icons
@icon-font-path:          "/bower_components/bootstrap/dist/fonts/";

//Colors:
@brand-primary: #4ab4e2;
@navbar-inverse-bg: #333;
@app-body-bg: #ececec; // ps

// Tooltips
@tooltip-bg: #50e3c2;
@tooltip-color: #000;

//Side-bar
@hr-border: #c4c4c4; //ps

