@import "common.less";

/*
* General
*/

h1 {
  color: #cd5c5c;
}

code {
  background: #eee;
}

body {
  background: #ececec;
}

/*
* Navigation
*/

.navbar {
  .logo {
    position: absolute;
    left: 45%;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 20px;

    a {
      text-decoration: none;
    }
  }
}

/*
* Auth forms
*/

.panel.auth {
  box-shadow: 0 0 1px 3px #ccc;
  overflow: hidden;

  .panel-title {
    font-size: 25px;
  }

  .hint {
    position: absolute;
    bottom: 50px;
    right: -10px;
    z-index: 3;
    background: #FCF8E3;
    padding: 2px 10px;
    border-radius: 5px 5px 5px 0;
    color: #CD5C5C;
    border: 1px solid #EAB6B6;
    opacity: 0;
    transition: opacity .5s, bottom .3s;

    &.ng-active.show {
      opacity: 1;
      bottom: 35px;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      border-top: 10px solid #FFFFBE;
      border-right: 10px solid transparent;
    }
    &:before {
      left: -1px;
      bottom: -9px;
      border-top: 9px solid #EAB6B6;
    }
    span {
      display: block;
    }
  }

  .linkedin-section {
    .title {
      margin-bottom: 20px;
    }
    .title-or {
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -25px;
      width: 50px;
      background-color: #FFF;
      color: #CCC;
      font-style: italic;
    }
  }
}

#activate-acc-dlg {
  .email-sent {
    font-size: 18px;
    color: #428BCA;
  }
}

/*
* App Header
*/

.page-title {
  margin: 0 0 10px;
}

.btn.head {
  margin: 0 0 10px 10px;
  color: #666;
  .glyphicon {
    text-shadow: 1px 1px 1px #fff;
  }
}

.notification {
  margin-top: -20px;
  padding: 8px;
  font-size: 12px;
}

/*
* Projects
*/
.tile {
  display: block;
  position: relative;
  min-height: 100px;
  background: #fff;
  color: #666;
  &:hover {
    color: #000;
    text-decoration: none;
  }

  &.new {
    background: rgba(0, 0, 0, 0.2);
    color: #ddd;
    box-shadow: none;
    &:hover {
      color: #fff;
    }
    h4 {
      line-height: 45px;
    }
  }

  .table {
    td {
      border: none;
      padding: 2px;
    }
  }
}

.panel {
  &.dialog {
    position: relative;
    top: -120px;
    .btn.close {
      margin-top: -20px; /* XXX - fix*/
    }
  }
}

/*
* Project Details
*/

.project-title {
  a{
    color: inherit;
    text-decoration: none;
  }
  .hover-edit {
    opacity: 0;
    font-size: 16px;
    transition: opacity .2s;
  }
  &:hover {
    .hover-edit {
      opacity: .2;
    }
  }
}

.edit-form {
  position: relative;
  top: -10px;

  textarea {
    font-size: 24px;
    height: 48px;
    max-height: 120px;
  }
  .close {
    float: none;
    margin-left: 10px;
    font-size: 30px;
  }
}


/*
  Tile Menus
*/

.tile-container {
  position: relative;

  .view-minimal {
    height: 70px;
  }

  .btn-menu-wrap {
    position: absolute;
    height: 38px;
    width: 38px;
    overflow: visible;
    &.bottom {
      bottom: 20px;
      right: 15px;
    }
    &.top {
      top: 0;
      right: 0;
    }

    .btn-group.menu {
      margin: 5px;
      .btn {
        padding: 3px 9px;
        border-radius: 50%;
      }
      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
  }
}

.debug {
  display: none;
  .col {
    outline: 1px solid #00a98d;
  }
}