<p>Hi {{name}},</p>

<p>You received this message form PeerSay because Password Restore process for your account was started from our site.</p>
<p>In case you have started this process, please proceed and copy the following code and paste it on Password Restore page:</p>

<p style="display: inline-block; font: bold 18px/18px courier; background: #eee; padding: 4px;">
    <code>{{code}}</code>
</p>

<p>
    --<br>
    <em>PeerSay Team</em>
</p>
<p style="font-size:12px; color:#ccc;">Please do not reply to this email. This address is not monitored.</p>
