<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="MenuCtrl as menu"
        ng-cloak>
    <div class="container-fluid">
        <!--Header Link + Collapsed Menu button-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Header Link: selected upon app state-->
            <a class="navbar-brand" href="/" target="_self"
                    ng-show="$state.includes('auth')">
                <img height="30" src="/images/logo-horiz-126x30.png" alt="Logo">
            </a>
            <a class="navbar-brand" ui-sref="project.list"
                    ng-show="$state.includes('project')">
                <img height="30" src="/images/logo-horiz-126x30.png" alt="Logo">
            </a>
        </div>

        <!--Notify: Saving-->
        <ps-notify data-type="'save'" data-ctl="notify = menu.notify.model" ng-cloak>
            <div class="notify-nav save ellipsis">{{ notify.text }}</div>
        </ps-notify>

        <!--Notify: API error-->
        <ps-notify data-type="'error'" data-ctl="notify = menu.notify.model" ng-cloak>
            <div class="notify-nav api-error">
                <div class="alert alert-danger text-center" role="alert">
                    <button type="button" class="close" ng-click="menu.notify.hide()">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>{{ notify.title }}:</strong> {{ notify.text }}
                </div>
            </div>
        </ps-notify>

        <!--Collapsed menu-->
        <div class="navbar-collapse collapse">
            <p class="navbar-text visible-xs-block">Menu</p>

            <!--Auth Menu-->
            <ul class="nav navbar-nav navbar-right" ng-show="$state.includes('auth')">
                <li ui-sref-active="active"><a ui-sref="auth.login">Login</a></li>
                <li ui-sref-active="active"><a ui-sref="auth.signup">Signup</a></li>
            </ul>

            <!--Main Menu-->
            <ul class="nav navbar-nav navbar-right" ng-show="$state.includes('project')">
                <!--Project List: Add new-->
                <li class="dropdown add" ng-show="$state.includes('project.list')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-plus-circle"></span> Add <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href ng-click="menu.project.toggleCreateDlg(true)">Add Project</a></li>
                    </ul>
                </li>
                <!--Project Details: Link to list-->
                <li ng-show="$state.includes('project.details')">
                    <a ui-sref="project.list">
                        <span class="fa fa-caret-left"></span>
                        Projects
                    </a>
                </li>
                <!--Project Details: Team mates-->
                <li class="team-mates" ng-show="$state.includes('project.details')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Team mates
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="disabled" ng-repeat="p in menu.peers.list">
                            <a href="#">
                                {{:: p.email }}
                                <span class="peer-status"
                                        ng-class="p.online && 'online' || 'offline' "></span>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li><a href="#" ng-click="menu.peers.toggle = true">Add</a></li>
                    </ul>
                    <!--Add mate popover-->
                    <div ps-slider-popover uid="menu-popover" trigger="menu.peers.toggle">
                        <a href class="menu-popover-toggler"
                                data-toggle="popover"
                                data-placement="bottom"
                                title="Invite a teammate to project"></a>

                        <form class="form-horizontal" ng-cloak>
                            <div class="form-group">
                                <label for="peer-email" class="col-sm-3 control-label">Email:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="peer-email"
                                            ps-focus-on="menu.peers.toggle">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" class="btn btn-default pull-right">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <!--User-->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-user"></span>
                        {{ menu.user.displayName }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" ng-click="menu.user.logout()">Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
