<div class="container-fluid" ng-controller="AuthCtrl as m">
    <div class="row">
        <div class="auth-panel-col">
            <div class="panel panel-default auth">
                <div class="panel-heading">
                    <h2 class="panel-title">Restore Password</h2>
                </div>
                <div class="panel-body">
                    <!--Notify: Warning alert-->
                    <ps-notify data-type="'warn'" data-ctl="notify = m.notify.model" ng-cloak>
                        <div class="alert alert-warning text-center" role="alert">
                            <button type="button" class="close" ng-click="m.notify.hide()">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <strong>{{ notify.title }}:</strong> {{ notify.text }}
                        </div>
                    </ps-notify>

                    <p>A message was sent to your email address with one-time <strong>restore code</strong>.
                        Please copy that code and paste below. The code will expire in <strong>20 min</strong>.</p>

                    <form class="auth" name="m.form">
                        <div class="form-group">
                            <div class="input-group input-group-lg" ng-class="{
                                    'has-success': m.form.code.$valid,
                                    'has-warning': m.form.code.$touched && m.form.code.$invalid}">
                                <span class="input-group-addon"><span class="fa fa-fw fa-eye-slash"></span></span>
                                <div class="hint" ng-messages="m.form.code.$error" ng-class="{show: m.form.code.$touched}">
                                    <div ng-message="required">Required</div>
                                </div>
                                <input type="text" name="code" class="form-control" placeholder="Restore code" autocomplete="off"
                                        ng-model="m.user.restore"
                                        ng-model-options="{updateOn: 'blur'}"
                                        ng-focus="m.form.code.$setUntouched()"
                                        required>
                            </div>
                        </div>

                        <p>Create new password to be used from now on:</p>

                        <div class="form-group">
                            <div class="input-group input-group-lg" ng-class="{
                                    'has-success': m.form.password.$valid,
                                    'has-warning': m.form.password.$touched && m.form.password.$invalid}">
                                <span class="input-group-addon"><span class="fa fa-fw fa-key"></span></span>
                                <div class="hint" ng-messages="m.form.password.$error" ng-class="{show: m.form.password.$touched}">
                                    <div ng-message="required">Required</div>
                                    <div ng-message="minlength">6 chars or more</div>
                                </div>
                                <input type="password" id="password" class="form-control" placeholder="Password"
                                        name="password"
                                        ng-model="m.user.password"
                                        ng-model-options="{updateOn: 'blur default', debounce: {'default': 500, 'blur': 0}}"
                                        ng-focus="m.form.password.$setUntouched()"
                                        minlength="6"
                                        required>
                            </div>
                        </div>

                        <button type="button" class="btn btn-success full-width"
                                ng-disabled="m.form.$invalid"
                                ng-click="m.restorePwdComplete()"
                                >Create New Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

