<div class="page-spacer">
    <div class="toggle-edit" ng-show="!show">
        <label>{{:: label }}:</label><br>
        <a href class="toggle-value"
                ng-if="model.value"
                ng-click="toggle(true)"
                ng-bind-html="model.value | multiline">
        </a>
        <span ng-if="model.value" class="fa fa-edit hover-edit"></span>
        <a href class="toggle-label"
                ng-if="!model.value"
                ng-click="toggle(true)">Add</a>
    </div>

    <form name="cm.form" class="edit-form" ng-show="show">
        <div class="form-group">
            <label for="prj-summary">{{:: label }}:</label>
        <textarea id="prj-summary" class="form-control resize-vert" ng-model="model.value"
                ps-focus-on="show"
                ps-select="true"
                ng-keydown="onKeydown($event)"
                ></textarea>
        </div>
        <button type="button" class="btn btn-success"
                ng-click="save()">Save
        </button>
        <button type="button" class="btn close inline-close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
    </form>
</div>