<div class="container-fluid" ng-controller="AuthCtrl as m">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="panel panel-default auth">
                <div class="panel-heading">
                    <h2 class="panel-title">Login</h2>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning text-center" role="alert" ng-show="m.error.show">
                        <strong>Error:</strong> {{m.error.msg}}.
                    </div>

                    <form class="auth" name="m.form" action="/auth/login" method="POST">
                        <div class="form-group">
                            <div class="input-group input-group-lg" ng-class="{
                                    'has-success': m.form.email.$valid,
                                    'has-warning': m.form.email.$touched && m.form.email.$invalid}">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <div class="hint" ng-messages="m.form.email.$error" ng-class="{show: m.form.email.$touched}">
                                    <div ng-message="required">Required</div>
                                    <div ng-message="email">Invalid email!</div>
                                </div>
                                <input type="email" name="email" class="form-control" placeholder="Your email"
                                        ng-model="m.user.email"
                                        ng-model-options="{updateOn: 'blur'}"
                                        ng-focus="m.form.email.$setUntouched()"
                                        required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg" ng-class="{
                                    'has-success': m.form.password.$valid,
                                    'has-warning': m.form.password.$touched && m.form.password.$invalid}">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <div class="hint" ng-messages="m.form.password.$error" ng-class="{show: m.form.password.$touched}">
                                    <div ng-message="required">Required</div>
                                    <div ng-message="minlength">6 chars or more</div>
                                </div>
                                <input type="password" id="password" class="form-control" placeholder="Password"
                                        name="password"
                                        ng-model="m.user.password"
                                        ng-model-options="{updateOn: 'blur default', debounce: {'default': 500, 'blur': 0}}"
                                        ng-focus="m.form.password.$setUntouched()"
                                        minlength="6"
                                        required>
                            </div>
                        </div>

                        <div class="pull-left">
                            <a href="#" >Forgot passord?</a>
                        </div>

                        <button class="btn btn-lg btn-success pull-right"
                                ng-disabled="m.form.$invalid"
                                >Login
                        </button>
                    </form>
                </div>

                <ul class="list-group">
                    <li class="list-group-item linkedin-section">
                        <h4 class="title-or">OR</h4>
                        <h4 class="title">Have LinkedIn account?</h4>
                        <a href="/auth/linkedin" target="_self"  class="btn btn-lg btn-success">
                            <span class="glyphicon glyphicon-link"></span>
                            Login with LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

