<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <form class="auth" name="aForm" ng-controller="Auth as m">
                <h2>Login</h2>
                <div class="alert alert-warning text-center" role="alert" ng-show="m.showError">
                    <strong>Error:</strong> something's wrong.
                </div>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <div class="hint" ng-show="aForm.email.$dirty && aForm.email.$invalid">
                        <span ng-show="aForm.email.$error.required">Required</span>
                        <span ng-show="aForm.email.$error.email">Invalid email!</span>
                    </div>
                    <input type="email" name="email" class="form-control" placeholder="Your email"
                            ng-model="m.user.email"
                            required>
                </div>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <div class="hint" ng-show="aForm.pwd.$dirty && aForm.pwd.$invalid">
                        <span ng-show="aForm.pwd.$error.required">Required</span>
                    </div>
                    <input type="password" id="password" class="form-control" placeholder="Password"
                            name="pwd"
                            ng-model="m.user.password"
                            required>
                </div>

                <button class="btn btn-lg btn-success pull-right"
                        ng-click="m.login()"
                        ng-disabled="aForm.$invalid"
                        >Login
                </button>
            </form>
        </div>
    </div>
</div>

