<!--Dialog-->
<div class="modal full-view" tabindex="-1" role="dialog"
        ps-tile-dialog
        ps-on-close="cm.onClose"
        ps-on-show="cm.onShow">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        ng-disabled="cm.form.$invalid">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">{{:: cm.title }}</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <!--Form-->
                <form name="cm.form">
                    <!--Reasons-->
                    <div class="form-group">
                        <label for="es-reason" class="control-label">Please describe the reasons for this project evaluation</label>
                        <textarea id="es-reason" class="form-control vert"
                                placeholder="I want to add an extra 10TB storage to the companies backup server"
                                ng-model="cm.project.reasons"
                                ng-blur="cm.patchProject()"
                                ps-focus-on="cm.focusField === 'reasons'"
                                ></textarea>
                    </div>
                    <!--Category-->
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label left">Select category:</label>
                            <div class="col-sm-10">
                                <ui-select ng-model="cm.category.selected" theme="bootstrap"
                                        tagging="cm.addCategory"
                                        tagging-tokens="ENTER"
                                        tagging-label="(adding new)"
                                        on-select="cm.selectCategory($model)">
                                    <!--Label don't work-->
                                    <ui-select-match placeholder="Select or search a category or domain...">{{ $select.selected.name }}</ui-select-match>
                                    <ui-select-choices repeat="category in cm.categories | filter: $select.search track by category.id"
                                            group-by="'domain'">
                                        <span ng-bind-html="category.name | highlight: $select.search"></span>
                                        <span ng-if="category.local" class="delete-category"
                                                ng-click="cm.deleteCategory(category)">
                                            <span class="fa fa-trash"></span> <span class="link">Delete</span>
                                        </span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <!--<p>Selected: {{ cm.category.selected }}</p>-->
                    <div class="row page-spacer"></div>

                    <!--Goals-->
                    <div class="form-group">
                        <label for="es-goal" class="control-label">What are the project goals?</label>
                        <textarea id="es-goal" class="form-control vert"
                                placeholder="The new backup system should extend the current 6TB transparently..."
                                ng-model="cm.project.goals"
                                ng-blur="cm.patchProject()"
                                ></textarea>
                    </div>

                    <div class="form-horizontal">
                        <!--Budget-->
                        <div class="form-group">
                            <label for="es-budget" class="col-sm-2 control-label left">Budget:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <!--Currency Select-->
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span class="fa fa-fw fa-{{ cm.project.resources.budgetCurrency | lowercase }}"></span>
                                            {{ cm.project.resources.budgetCurrency }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-repeat="currency in cm.currencies"
                                                    ng-class="{active: (currency === cm.project.resources.budgetCurrency)}">
                                                <a href ng-click="cm.selectCurrency(currency)">
                                                    <span class="fa fa-{{:: currency | lowercase}}"></span>
                                                    {{:: currency }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input id="es-budget" type="text" class="form-control" placeholder="10K"
                                            ng-model="cm.project.resources.budget"
                                            ng-blur="cm.patchProject()"
                                            ps-focus-on="cm.focusField === 'budget'"
                                            />
                                </div>
                            </div>
                        </div>
                        <!--Resources-->
                        <div class="form-group">
                            <label for="es-resource" class="col-sm-2 control-label left">Resources:</label>
                            <div class="col-sm-10">
                                <input id="es-resource" type="text" class="form-control"
                                        placeholder="2 employees part time for 2 months"
                                        ng-model="cm.project.resources.description"
                                        ng-blur="cm.patchProject()"
                                        ps-focus-on="cm.focusField === 'resources'"
                                        />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--Col #1: Start Date-->
                        <div class="col-sm-6 form-horizontal">
                            <div class="form-group">
                                <label for="es-start-date" class="col-sm-4 control-label text-nowrap left">Begin date:</label>
                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <input id="es-start-date" type="text" class="form-control"
                                                placeholder="mm/yy"
                                                ng-model="cm.project.time.startDate"
                                                ps-date-picker
                                                ng-blur="cm.patchProject()"
                                                ps-focus-on="cm.focusField === 'startDate'"/>
                                        <span class="input-group-addon btn last"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Col #2: Duration-->
                        <div class="col-sm-6 form-horizontal">
                            <div class="form-group">
                                <label for="es-duration" class="col-sm-4 control-label">Duration:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input id="es-duration" type="text" class="form-control" placeholder="6"
                                                ng-model="cm.project.time.duration"
                                                ng-blur="cm.patchProject()"
                                                ps-focus-on="cm.focusField === 'duration'"
                                                />
                                        <!--Label Select-->
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                {{ cm.project.time.durationLabel }}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li ng-repeat="label in cm.durationLabels"
                                                        ng-class="{active: (label === cm.project.time.durationLabel)}">
                                                    <a href ng-click="cm.selectDurationLabel(label)">
                                                        {{:: label }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row page-spacer"></div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal"
                        ng-disabled="cm.form.$invalid">Done</button>
                <button class="btn btn-primary"
                        ng-disabled="cm.form.$invalid"
                        ng-click="cm.goNext()">
                    Requirements
                    <span class="fa fa-forward btn-icon"></span>
                </button>

                <ol class="carousel-indicators">
                    <li class="active"></li>
                    <li ng-click="cm.goNext()"></li>
                    <li ng-click="cm.goLast()"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
