<!--Panel-->
<div class="panel panel-default tile has-fullscreen-toggle" ng-controller="ProjectPresentationsCtrl as pr">
    <div class="panel-heading">
        <h3 class="text-center">
            <span class="fa fa-file-pdf-o"></span>
            Presentations
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <!--List-->
            <div class="right-sidebar-col">
                <h4>Presentations</h4>
                <table class="table table-condensed present-table">
                    <tbody>
                    <tr ng-repeat="pres in pr.list">
                        <td>
                            <a href="{{:: pres.htmlUrl }}" target="_blank">{{:: pres.title }}</a>
                        </td>
                        <td class="icon-cell">
                            <a ng-href="{{ pres.pdfUrl }}" target="_blank">
                                <span class="fa fa-file-pdf-o icon pdf" ps-tooltip="'Open'"></span>
                            </a>
                        </td>
                        <td class="icon-cell">
                            <a href ng-click="pr.deletePresentation(pres)">
                                <span class="fa fa-trash icon danger"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-primary pull-right"
                        ng-click="pr.createPresentation()">Generate
                </button>
            </div>
            <!--Outline-->
            <div class="content-right-sidebar-col">
                <h4>Presentation Outline</h4>

                <form class="present-form">
                    <!--Overview-->
                    <div class="form-group present-item" ng-class="{include: pr.data.overview.include}">
                        <label class="checkbox-label">
                            <input type="checkbox" ng-model="pr.data.overview.include"
                                    ng-change="pr.patchPresentation()">
                            <span class="underlined">Overview</span>
                        </label>
                        <textarea id="pres-overview" class="form-control resize-vert" rows="3"
                                ng-model="pr.data.overview.overviewText"
                                ps-focus-on="pr.data.overview.include"></textarea>
                    </div>
                    <!--Requirements-->
                    <div class="form-group present-item" ng-class="{include: pr.data.requirements.include}">
                        <label class="checkbox-label">
                            <input type="checkbox" ng-model="pr.data.requirements.include"
                                    ng-change="pr.patchPresentation()">
                            <span class="underlined">Mandatory requirements</span>
                        </label>

                        <p class="hint-text text-sm">Mandatory Requirements, taken from the Criteria section.</p>
                    </div>
                    <!--Products-->
                    <div class="form-group present-item" ng-class="{include: pr.data.products.include}">
                        <label class="checkbox-label">
                            <input type="checkbox" ng-model="pr.data.products.include"
                                    ng-change="pr.patchPresentation()">
                            <span class="underlined">Products</span>
                        </label>

                        <p class="hint-text text-sm">Products under evaluation, taken from the Products section.</p>
                    </div>
                    <!--Table-->
                    <div class="form-group present-item" ng-class="{include: pr.data.table.include}">
                        <label class="checkbox-label">
                            <input type="checkbox" ng-model="pr.data.table.include"
                                    ng-change="pr.patchPresentation()">
                            <span class="underlined">Decision Table</span>
                        </label>

                        <p class="hint-text text-sm">Several slides presenting how the products compared on different topics and overall decision.</p>
                    </div>
                    <!--Summary-->
                    <div class="form-group present-item" ng-class="{include: pr.data.notes.include}">
                        <label class="checkbox-label">
                            <input type="checkbox" ng-model="pr.data.notes.include"
                                    ng-change="pr.patchPresentation()">
                            <span class="underlined">Summary and Recommendations</span>
                        </label>

                        <label for="pres-summary" class="hint-label text-sm">Summary</label>
                        <textarea id="pres-summary" class="form-control resize-vert" rows="3"
                                ng-model="pr.data.notes.summaryText"></textarea>

                        <label for="pres-recommend" class="hint-label text-sm">Recommendations</label>
                        <textarea id="pres-recommend" class="form-control resize-vert" rows="3"
                                ng-model="pr.data.notes.recommendationText"></textarea>
                    </div>
                    <!--Logo-->
                    <div class="form-group present-item clearfix" ng-class="{include: 0}">
                        <label class="checkbox-label">
                            <input type="checkbox">
                            <span class="underlined">Logo</span>
                        </label>
                        <img src="//placehold.it/48x48" width="48">
                        <input type="file" id="pres-logo">
                    </div>

                    <button type="button" class="btn btn-primary pull-right"
                            ng-click="pr.createPresentation()">Generate
                    </button>
                </form>
            </div>
        </div>

        <!--Done link-->
        <!--<a class="btn btn-primary pull-right" ui-sref="^.decisions">Done</a>-->
    </div>
</div>
