<!--Panel-->
<div class="panel panel-default tile has-fullscreen-toggle" ng-controller="ProjectRequirementsCtrl as cm">
    <div class="panel-heading">
        <h3 class="text-center">
            <span class="fa fa-bars"></span>
            Requirements and Specifications
        </h3>
    </div>
    <div class="panel-body">
        <form class="row">
            <!--Col2 - Select/Add Products-->
            <div class="col-xs-12 col-sm-6 col-sm-push-6 form-group">
                <ui-select ng-model="cm.search.model.selected" theme="bootstrap"
                        tagging="cm.search.onAddNew"
                        tagging-tokens="ENTER"
                        tagging-label="(adding new)"
                        on-select="cm.search.onSelect($model)">
                    <ui-select-match placeholder="Select a requirement or add a new one...">
                        {{ $select.selected.name }}
                        <span class="fa fa-check"></span>
                    </ui-select-match>
                    <ui-select-choices
                            repeat="req in cm.search.list | filter:cm.filter.visible | filter:$select.search track by req._id">
                        <span ng-bind-html="req.name | highlight: $select.search"></span>
                        <span ng-if="req.selected" class="fa fa-check"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <!--Col1 - Buttons-->
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 form-group button-bar">
                <!--Add new-->
                <button type="button" class="btn btn-default"
                        ng-click="cm.edit.toggleNew()"
                        ng-class="{active: cm.edit.visible}"
                        >
                    <span class="fa fa-plus-circle"></span> New
                </button>
            </div>
        </form>

        <!--Add form-->
        <form name="cm.addForm" class="form-horizontal selector-edit-form add-new page-spacer"
                ng-if="cm.edit.visible">
            <!--Topic-->
            <div class="form-group form-group-sm">
                <label class="label-col control-label text-left-important">Topic:</label>
                <div class="control-col">
                    <ui-select ng-model="cm.edit.topic.selected" theme="bootstrap"
                            tagging="cm.edit.topic.onAddNew"
                            tagging-tokens="ENTER"
                            tagging-label="(adding new)"
                            on-select="cm.edit.topic.onSelect($model)">
                        <ui-select-match placeholder="Select a topic or add a new one...">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="group in cm.groups.list | filter:$select.search">
                            <span ng-bind-html="group.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="req-name" class="label-col control-label text-left-important">Name:</label>
                <div class="control-col">
                    <input type="text" id="req-name" class="form-control" placeholder="Name"
                            ng-model="cm.edit.model.name"
                            ps-focus-on="cm.edit.visible"
                            required>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="req-descr" class="label-col control-label text-left-important">Description:</label>
                <div class="control-col">
                    <input type="text" id="req-descr" class="form-control" placeholder="Description"
                            ng-model="cm.edit.model.description">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="label-col"></div>
                <div class="control-col">
                    <label class="checkbox-ext no-select" ng-class="{checked: cm.edit.model.mandatory}">
                        <input type="checkbox" ng-model="cm.edit.model.mandatory">
                        Mandatory
                    </label>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="label-col"></div>
                <div class="control-col">
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="cm.edit.save()"
                            ng-disabled="cm.addForm.$invalid">Save
                    </button>
                    <button type="button" class="btn close inline-close"
                            ng-click="cm.edit.cancel()">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                </div>
            </div>
        </form>

        <!--Selection list-->
        <div ng-include="'/html/requirements-selection-list.html'"></div>

        <!--Done link-->
        <a class="btn btn-primary pull-right" ui-sref="^.dashboard">Done</a>
    </div>
</div>
