<!--Dialog-->
<div class="modal full-view" tabindex="-1" role="dialog"
        ps-tile-dialog
        ps-on-close="cm.onClose">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    {{:: cm.title }}
                    <!--<small class="total-selected" ng-if="cm.totalSelected">({{ cm.totalSelected }})</small>-->
                </h4>
            </div>
            <div class="modal-body">
                <form class="selection-controls2">
                    <!--Select Category-->
                    <div class="form-group">
                        <ui-select ng-model="cm.category.selected" theme="bootstrap"
                                tagging="cm.addCategory"
                                tagging-tokens="ENTER"
                                tagging-label="(adding new)"
                                on-select="cm.selectCategory($model)">
                            <!--Label don't work-->
                            <ui-select-match placeholder="Select or search a category or domain...">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="category in cm.categories | filter: $select.search track by category.id"
                                    group-by="'domain'">
                                <span ng-bind-html="category.name | highlight: $select.search"></span>
                                        <span ng-if="category.local" class="delete-category"
                                                ng-click="cm.deleteCategory(category)">
                                            <span class="fa fa-trash"></span> <span class="link">Delete</span>
                                        </span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!--Select/Add Products-->
                    <div class="form-group">
                        <ui-select ng-model="cm.product.selected" theme="bootstrap"
                                tagging="cm.addNotFoundProduct"
                                tagging-tokens="ENTER"
                                tagging-label="(adding new)"
                                on-select="cm.selectProduct($model)">
                            <ui-select-match placeholder="Select a product or add a new one...">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="product in cm.products | filter: $select.search track by product.id">
                                <span ng-bind-html="product.name | highlight: $select.search"></span>
                                <span ng-if="product.selected" class="fa fa-check"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!--Buttons-->
                    <div class="form-group button-bar">
                        <!--Filter dropdown-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    title="Filter"
                                    ps-tooltip>
                                <span class="fa" ng-class="cm.filterBtnClass()"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-class="cm.filterLiClass('all')">
                                    <a href ng-click="cm.toggleFilter('all')"><span class="fa fa-minus-square-o"></span> All</a>
                                </li>
                                <li ng-class="cm.filterLiClass('selected')">
                                    <a href ng-click="cm.toggleFilter('selected')"><span class="fa fa-check-square-o"></span> Selected</a>
                                </li>
                                <li ng-class="cm.filterLiClass('not-selected')">
                                    <a href ng-click="cm.toggleFilter('not-selected')"><span class="fa fa-square-o"></span> Not selected</a>
                                </li>
                            </ul>
                        </div>
                        <!--Add new-->
                        <button type="button" class="btn btn-default"
                                ng-click="cm.toggleAddNew()">
                            <span class="fa fa-{{ cm.addNew.show && 'minus' || 'plus' }}-circle"></span> New
                        </button>
                    </div>
                </form>

                <!--Add form-->
                <form class="form-horizontal page-spacer" ng-show="cm.addNew.show">
                    <div class="form-group">
                        <label for="req-name" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" id="req-name" class="form-control" placeholder="Name"
                                    ng-model="cm.addNew.model.name"
                                    ps-focus-on="cm.addNew.show">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="req-descr" class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10">
                            <input type="text" id="req-descr" class="form-control" placeholder="Description"
                                    ng-model="cm.addNew.model.description">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-sm btn-primary"
                                    ng-click="cm.saveAddNew()">Add</button>
                            <button type="button" class="btn close inline-close"
                                    ng-click="cm.cancelAddNew()">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                        </div>
                    </div>
                </form>

                <!--Selection List-->
                <div class="table-responsive table-selection-list border">
                    <table class="table table-hover table-striped no-select">
                        <thead>
                            <tr>
                                <th class="first"></th>
                                <th class="main">Name</th>
                                <th>Description</th>
                                <th class="last">Popularity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in cm.products | filter:cm.filter.expr | orderBy:'-popularity' track by product.id"
                                    ng-class="{selected: product.selected}"
                                    ng-click="cm.toggleProduct(product, true)"
                                    >
                                <td class="first">
                                    <input type="checkbox"
                                            ng-model="product.selected"
                                            ng-change="cm.toggleProduct(product)"
                                            ng-click="$event.stopPropagation()">
                                </td>
                                <td class="main">{{:: product.name }}</td>
                                <td>{{:: product.description }}</td>
                                <td class="last">{{:: product.popularity }}%</td>
                            </tr>
                            <!--Load more-->
                            <tr>
                                <td colspan="4" class="text-center">
                                    <button type="button" class="btn btn-xs btn-default load-more"
                                            title="Load more"
                                            ps-tooltip
                                            ng-class="{loading: cm.loadingMore}"
                                            ng-click="cm.loadMoreProducts()">
                                        <span class="fa fa-refresh fa-spin"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row page-spacer"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="cm.goPrev()">
                    <span class="fa fa-backward btn-icon"></span>
                    Requirements
                </button>
                <button class="btn btn-default" data-dismiss="modal">Done</button>

                <ol class="carousel-indicators">
                    <li ng-click="cm.goFirst()"></li>
                    <li ng-click="cm.goPrev()"></li>
                    <li class="active"></li>
                </ol>
            </div>
        </div>
    </div>
</div>