<div class="container-fluid" ng-controller="ProjectListCtrl as list">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title text-center">
                <span class="fa fa-list-alt"></span> My projects
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="list-item-col tile-container" ng-repeat="prj in list.projects"
                ng-class="{'muted': prj.muted}">
            <span ng-if="prj.muted" class="fa fa-spinner fa-spin"></span>
            <a class="panel panel-default tile" href ng-click="list.editProject(prj.id)">
                <div class="panel-body">
                    <h3 class="name">{{ prj.title }}</h3>
                </div>
            </a>
            <!--Menu-->
            <div class="btn-menu-wrap bottom">
                <div class="btn-group menu" ng-click="$event.preventDefault();">
                    <button type="button" class="btn btn-default dropdown-toggle hint" data-toggle="dropdown">
                        <span data-toggle="tooltip" title="Menu" ps-tooltip data-container="body"></span>
                        <span aria-hidden="true" class="caret"></span><span class="sr-only">Menu</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href ng-click="list.editProject(prj.id)">Edit</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href ng-click="list.removeProject(prj)">Remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-item-col">
            <a class="panel panel-default tile create-new" href ng-click="list.toggleCreateDlg(true)">
                <div class="panel-body">
                    <h3 class="text-center">Create New...</h3>
                </div>
            </a>

            <!--Create Project Dialog-->
            <div class="panel panel-default dialog" ng-if="list.create.showDlg">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Project</h3>
                    <button type="button" class="btn close" ng-click="list.toggleCreateDlg(false)"
                            ng-disabled="list.create.progress">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="panel-body">
                    <form name="list.form" ng-submit="list.createProject()">
                        <!--Select Category-->
                        <div ng-controller="ProjectListCategoryCtrl as category"
                                ng-include="'/html/category-select.html'"></div>

                        <!--Submit-->
                        <button type="submit" class="btn btn-success"
                                ng-disabled="!list.newProject.category || list.create.progress"
                                >
                            <span ng-if="!list.create.progress">Create</span>
                            <span ng-if="list.create.progress"><span class="fa fa-spinner fa-spin"></span> Creating</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
