<!--Panel-->
<div class="panel panel-default tile has-fullscreen-toggle" ng-controller="ProjectDashboardCtrl as board">
    <div class="panel-heading">
        <h2 class="text-center">
            <span class="fa fa-dashboard"></span>
            Dashboard
        </h2>
    </div>
    <div class="panel-body">
        <!--Load indicator-->
        <div class="row text-center" ng-if="board.loading">
            <button type="button" class="btn btn-xxs btn-default" disabled>
                <span class="fa fa-refresh fa-spin"></span>
            </button>
        </div>

        <!--Content - 1st row-->
        <div class="row" ng-if="!board.loading">
            <!--Criteria-->
            <div class="col-xs-12 col-sm-6 page-spacer">
                <h3 class="toggle-edit text-center">
                    <a ui-sref="^.requirements">Criteria</a>
                </h3>
                <p ng-if="!board.requirements.initialized">
                    There are not criteria selected yet. PeerSay presents popular criteria,
                    and let you select or add criteria that are important for your project's success.
                    Follow <a ui-sref="^.requirements">this link</a> to add Criteria.
                </p>
                <div ng-if="board.requirements.initialized">
                    <p>There are <span> {{:: board.requirements.data.length }}</span> criteria selected:</p>
                    <ul >
                        <li ng-repeat="req in board.requirements.data | orderBy:'-popularity' track by req._id">
                            {{ req.name }}
                        </li>
                    </ul>
                </div>
            </div>

            <!--Products-->
            <div class="col-xs-12 col-sm-6 page-spacer">
                <h3 class="toggle-edit text-center">
                    <a ui-sref="^.products">Products</a>
                </h3>
                <p ng-if="!board.products.initialized">
                    There are no products selected yet. PeerSay presents popular products
                    per category, and allows you to view grades and opinions based on different criteria.
                    Go to the <a ui-sref="^.products">Products page</a> to add Products.
                </p>
                <div ng-if="board.products.initialized">
                    <p>There are <span> {{:: board.products.data.length }}</span> products selected:</p>
                    <ul >
                        <li ng-repeat="prod in board.products.data | orderBy:'-popularity' track by prod._id">
                            {{:: prod.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Content - 2nd row-->
        <div class="row" ng-if="!board.loading">
            <!--Decision-->
            <div class="col-xs-12 col-sm-6 page-spacer">
                <h3 class="toggle-edit text-center">
                    <a ui-sref="^.decisions">Decision Table</a>
                </h3>
                <p ng-if="!board.decisions.initialized">
                    Please select <a ui-sref="^.products">Products</a>
                    and <a ui-sref="^.requirements">Criteria</a> in order to make a decision,
                    using <a ui-sref="^.decisions">the table</a>.
                </p>
                <div ng-if="board.decisions.initialized">
                    <p>The winner products are:</p>
                    <p ng-repeat="winner in board.decisions.data">
                        <span class="fa fa-trophy"></span>
                        <strong>{{:: winner.name }}</strong>
                        ({{:: winner.totalGrade }})
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
