<!--Panel-->
<div class="panel panel-default tile has-fullscreen-toggle" ng-controller="ProjectRequirementsCtrl as cm">
    <div class="panel-heading">
        <h3 class="text-center">
            <span class="fa fa-bars"></span>
            Requirements and Specifications
        </h3>
    </div>
    <div class="panel-body">
        <!--Buttons & search row-->
        <form class="row">
            <!--Col2 - Select/Add Products-->
            <div class="col-xs-12 col-sm-6 col-sm-push-6 form-group">
                <ui-select ng-model="cm.search.model.selected" theme="bootstrap"
                        tagging="cm.search.onAddNew"
                        tagging-tokens="ENTER"
                        tagging-label="(adding new)"
                        on-select="cm.search.onSelect($model)">
                    <ui-select-match placeholder="Select a requirement or add a new one...">
                        {{ $select.selected.name }}
                        <span class="fa fa-check"></span>
                    </ui-select-match>
                    <ui-select-choices
                            repeat="req in cm.search.list | filter:cm.filter.visible | filter:$select.search track by req._id">
                        <span ng-bind-html="req.name | highlight: $select.search"></span>
                        <span ng-if="req.selected" class="fa fa-check"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <!--Col1 - Buttons-->
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 form-group button-bar">
                <!--Add new-->
                <button type="button" class="btn btn-default" id="top-add-new">
                    <span class="fa fa-plus-circle"></span> New
                </button>
            </div>
        </form>

        <!--Add form-->
        <div class="page-spacer">
            <ps-req-edit-form
                    ps-ctl="cm.editNew"
                    ps-btn-selector="#top-add-new"></ps-req-edit-form>
        </div>

        <!--Selection list-->
        <div ng-include="'/html/req-selection-list.html'"></div>

        <!--Done link-->
        <a class="btn btn-primary pull-right" ui-sref="^.decisions">Done</a>
    </div>
</div>
