<!--Dialog-->
<div class="modal full-view" tabindex="-1" role="dialog"
        ps-tile-dialog
        ps-on-close="cm.onClose">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    {{:: cm.title }}
                </h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <!--Top Bar-->
                <form class="form-inline selection-controls page-spacer">
                    <div class="form-group selection-summary">
                        <label class="control-label">Selected:</label>
                        <span class="form-control-static">
                            <span class="badge">{{ cm.getTotalSelected() }}</span>
                        </span>
                    </div>
                    <!--Filters-->
                    <div class="form-group">
                        <label class="control-label">Filter by:</label>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"
                                    ng-class="cm.filterClass('all')"
                                    ng-click="cm.toggleFilter('all')">All</button>
                            <button type="button" class="btn btn-default"
                                    ng-class="cm.filterClass('selected')"
                                    ng-click="cm.toggleFilter('selected')">Selected</button>
                            <button type="button" class="btn btn-default"
                                    ng-class="cm.filterClass('not-selected')"
                                    ng-click="cm.toggleFilter('not-selected')">Not selected</button>
                        </div>
                    </div>
                    <!--Add-->
                    <div class="form-group pull-right">
                        <button type="button" class="form-control btn btn-primary"
                                ng-click="cm.toggleAddNew()">
                            <span class="fa fa-{{ cm.addNew.show && 'minus' || 'plus' }}-circle"></span> New
                        </button>
                    </div>
                </form>

                <!--Add form-->
                <form class="form-horizontal page-spacer" ng-show="cm.addNew.show">
                    <div class="form-group">
                        <label for="req-name" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" id="req-name" class="form-control" placeholder="Name"
                                    ng-model="cm.addNew.req.name"
                                    ps-focus-on="cm.addNew.show">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="req-topic" class="col-sm-2 control-label">Topic:</label>
                        <div class="col-sm-10">
                            <input type="text" id="req-topic" class="form-control" placeholder="Topic"
                                    ng-model="cm.addNew.req.topic">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="req-descr" class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10">
                            <input type="text" id="req-descr" class="form-control" placeholder="Description"
                                    ng-model="cm.addNew.req.description">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary"
                                    ng-click="cm.saveAddNew()">Add</button>
                            <button type="button" class="btn close inline-close"
                                    ng-click="cm.cancelAddNew()">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                        </div>
                    </div>
                </form>

                <!--Selection List-->
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="selection-list">
                            <li class="has-hover" ng-repeat="(key, group) in cm.groups"
                                    ng-class="{selected: group.selected}"
                                    ng-show="cm.showFilteredGroup(group)">
                                <label class="grouped clickable"><input type="checkbox"
                                        ng-model="group.selected"
                                        ng-click="cm.toggleGroup(group)"> {{ key }}</label>

                                <ul class="inner">
                                    <li ng-repeat="req in group.reqs | filter:cm.filter.expr track by req.id"
                                            ng-class="{selected: req.selected}"
                                            ng-class-odd="'odd'">
                                        <label class="cell first clickable"><input type="checkbox"
                                                ng-model="req.selected"
                                                ng-click="cm.toggleReq(req)"> {{ req.name }}</label>
                                        <div class="cell description">{{ req.description }}</div>
                                        <div class="cell last">{{ req.popularity }}%</div>
                                    </li>
                                    <li>
                                        <div class="cell first">
                                            <button type="button" class="btn btn-xs btn-default">...</button>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row page-spacer"></div>
            </div>
            
            <!--Footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="cm.goPrev()">
                    <span class="fa fa-backward btn-icon"></span>
                    Essentials
                </button>
                <button class="btn btn-default" data-dismiss="modal">Done</button>
                <button class="btn btn-primary" ng-click="cm.goNext()">
                    Products
                    <span class="fa fa-forward btn-icon"></span>
                </button>

                <ol class="carousel-indicators">
                    <li ng-click="cm.goPrev()"></li>
                    <li class="active"></li>
                    <li ng-click="cm.goNext()"></li>
                </ol>
            </div>
        </div>
    </div>
</div>