<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 tile-container">
    <div class="panel panel-primary tile">
        <div class="panel-heading">
            <h3 class="panel-title">Project Checklist</h3>

            <!--Menu-->
            <div class="btn-menu-wrap top">
                <div class="btn-group menu">
                    <button type="button" class="btn btn-default dropdown-toggle hint" data-toggle="dropdown">
                        <span data-toggle="tooltip" title="Menu" ps-tooltip></span>
                        <span aria-hidden="true" class="caret"></span><span class="sr-only">Menu</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class="disabled">
                            <a role="menuitem" tabindex="-1" href="#">Add Members</a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a role="menuitem" tabindex="-1" href="#">Consult with Colleagues</a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a role="menuitem" tabindex="-1" href="#">Reality Check</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="view-mode">
                <div class="tile-section">
                    <ps-progress valuenow="m.progressTotal()" style="'success'"></ps-progress>
                </div>

                <div class="tile-section min">
                    Current Step:
                    <a href
                            data-toggle="modal"
                            data-target="#{{m.checklist.current.name}}-full-dlg"
                            ng-click="m.toggleTile(m.checklist.current, true)"
                            >{{m.checklist.current.title}}</a>

                </div>

                <div class="tile-section">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="tile in m.checklist.tiles"
                                ng-mouseover="tile.highlight = true"
                                ng-mouseleave="tile.highlight = false"
                                >
                        <span class="badge score no-select"
                                ng-class="m.tileProgressClass(tile)"
                                ng-click="m.setTileProgress(tile, $event)">{{m.tileProgressLabel(tile)}}</span>
                            <input type="checkbox"
                                    ng-model="tile.show"
                                    ng-click="m.toggleTile(tile)">
                            <a href
                                    ng-click="m.showFullView(tile)"
                                    >{{tile.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
