<div class="container-fluid" ng-controller="ProjectDetailsCtrl as m">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="page-title pull-left project-title" ng-show="!m.editTitle.show">
                <span class="glyphicon glyphicon-dashboard"></span>
                <a href ng-click="m.toggleEditTitleDlg(true)">{{m.project.title}}</a>
                <span class="glyphicon glyphicon-edit hover-edit"></span>
            </h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <form name="m.form" class="edit-form" ng-show="m.editTitle.show">
                <div class="form-group">
                    <textarea class="form-control vert" ng-model="m.editTitle.value"
                            required
                            ps-focus-on="m.editTitle.show"></textarea>
                </div>
                <button class="btn btn-success"
                        ng-disabled="m.form.$invalid"
                        ng-click="m.updateProjectTitle()">Save</button>
                <button type="button" class="btn close" ng-click="m.toggleEditTitleDlg(false)">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <button type="button" class="btn btn-default pull-right head hint" ng-click="m.toggleTileView()">
                <span class="tooltip" data-toggle="tooltip" title="Toggle View" ps-tooltip></span>
                    <span aria-hidden="true" class="glyphicon"
                            ng-class="{'glyphicon-zoom-out': m.tileView === 'norm',
                            'glyphicon-zoom-in': m.tileView === 'min'}"></span>
            </button>

            <button type="button" class="btn btn-default pull-right head hint">
                <span class="tooltip" data-toggle="tooltip" title="Add Members" ps-tooltip></span>
                <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
            </button>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default dropdown-toggle head hint" data-toggle="dropdown">
                    <span class="tooltip" data-toggle="tooltip" title="Project Menu" ps-tooltip></span>
                    <span aria-hidden="true" class="glyphicon glyphicon-play"></span><span class="sr-only">Menu</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="disabled">
                        <a role="menuitem" tabindex="-1" href="#">Present to Manager</a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a role="menuitem" tabindex="-1" href="#">Present to Auditor</a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a role="menuitem" tabindex="-1" href="#">Debrief</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-include="'/html/project-checklist.html'"></div>
        <div ng-repeat="tile in m.tiles">
            <div ng-include="tile.html"></div>
        </div>
    </div>

    <div class="row debug">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-repeat="it in m.dbg">
            <div class="col">{{it}}</div>
        </div>
    </div>
</div>
