<div class="panel panel-default tile clickable"
        ng-class="{'panel-primary': cm.highlight}"
        ng-mouseover="cm.highlight = true"
        ng-mouseleave="cm.highlight = false"
        ng-click="cm.openDialog(cm.step)"
        >
    <div class="panel-heading">
        <h3 class="panel-title">
            {{:: cm.title }}
            <small class="info pull-right" ng-if="cm.info().show">{{ cm.info().text }}</small>
        </h3>
    </div>
    <div class="panel-body">
        <div class="tile-section border">
            <ps-table-view ps-view="cm.tableView"></ps-table-view>
        </div>
    </div>
</div>
