<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 tile-container">
    <div class="panel panel-primary tile">
        <div class="panel-heading">
            <h3 class="panel-title">Project Checklist</h3>

            <div class="btn-menu-wrap top">
                <div class="btn-group menu">
                    <button type="button" class="btn btn-default dropdown-toggle hint" data-toggle="dropdown">
                        <span data-toggle="tooltip" title="Menu" ps-tooltip></span>
                        <span aria-hidden="true" class="caret"></span><span class="sr-only">Menu</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class="disabled">
                            <a role="menuitem" tabindex="-1" href="#">Add Members</a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a role="menuitem" tabindex="-1" href="#">Consult with Colleagues</a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a role="menuitem" tabindex="-1" href="#">Reality Check</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="view-minimal" ng-show="m.tileView === 'min'">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>

                <p>
                    Current Step: <a href ng-click="m.toggleTile(m.curTile)">{{m.curTile.title}}</a>
                </p>
            </div>

            <div class="view-normal" ng-show="m.tileView === 'norm'">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="tile in m.tiles">
                        <span class="badge">{{tile.progress}}</span>
                        <input type="checkbox" ng-model="tile.show">
                        <a href ng-click="m.toggleTile(tile)">{{tile.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
