<!--Accordion-->
<div class="panel-group selection-list" id="accordion" role="tablist">
    <!--Topic list-->
    <div class="panel panel-default" ng-repeat="group in cm.groups.list | orderBy:'-popularity'"
            ng-if="group.q.visible()"
            ng-class="{visible: group.open, 'no-details': !group.data.description}">
        <!--Topic-->
        <div class="panel-heading topic-widget clearfix" role="tab"
                id="heading-{{:: group.id }}"
                data-target="#{{:: group.id }}"
                data-toggle="collapse">
            <!--Caret-->
            <span class="fa fa-chevron-right caret-icon"></span>
            <!--Add button-->
            <button type="button" class="btn btn-default" id="edit-{{:: group.id }}"
                    ng-show="group.open">
                <span class="fa fa-plus"></span> New
            </button>
            <!--Title-->
            <h4 class="panel-title topic-header">
                {{:: group.data.name || '(no topic)' }}
                <span class="label label-primary"
                        ng-if="group.q.selectedNum()">{{ group.q.selectedNum() }}</span>
            </h4>
            <!--Sub-title-->
            <div class="topic-details">
                <span>{{:: group.data.description }}</span>
            </div>
        </div>
        <!--Collapsible content-->
        <div class="panel-collapse collapse" role="tabpanel"
                id="{{:: group.id }}"
                aria-labelledby="heading-{{:: group.id }}"
                ps-collapse="group"
                ps-collapse-parent="#accordion">
            <!--Group's edit form-->
            <div class="panel-body panel-body-edit"
                    ng-if="group.open"
                    ng-class="{'form-open': group.editNew.visible}">
                <ps-req-edit-form
                        ps-ctl="group.editNew"
                        ps-btn-selector="#edit-{{:: group.id }}"
                        ps-disable-topic="true"></ps-req-edit-form>
            </div>
            <!--Table-->
            <div class="table-responsive">
                <table class="table table-hover no-select">
                    <thead>
                    <tr>
                        <th class="min"></th>
                        <th colspan="2" class="main">Name</th>
                        <th>Description</th>
                        <th class="min center">Mandatory</th>
                        <th class="min center">Popularity</th>
                        <th class="min"><span class="fa fa-fw fa-edit"></span></th>
                        <th class="min"><span class="fa fa-fw fa-trash"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--Criteria list-->
                    <tr ng-repeat-start="req in group.reqs | filter:cm.filter.visible | orderBy:'-popularity' track by req._id"
                            ng-class="{selected: req.selected}"
                            ng-click="cm.toggleReq(req, true)">
                        <td></td>
                        <td class="min">
                            <input type="checkbox"
                                    ng-model="req.selected"
                                    ng-change="cm.toggleReq(req)"
                                    ng-click="$event.stopPropagation()"
                                    ps-focus-on="req.focus">
                        </td>
                        <td>{{ req.name }}</td>
                        <td>{{ req.description }}</td>
                        <td class="center">
                            <span class="fa fa-check" ng-if="req.mandatory"></span>
                        </td>
                        <td class="center">
                            <div ng-if="!req.custom"
                                    title="{{:: req.popularity }}%"
                                    ps-tooltip>
                                <ps-progress value="req.popularity"></ps-progress>
                            </div>
                        </td>
                        <td>
                        <span class="fa fa-fw fa-edit table-icon" ng-if="req.selected || req.custom"
                                ng-click="req.edit.toggle(); $event.stopPropagation()"></span>
                        </td>
                        <td>
                        <span class="fa fa-fw fa-trash table-icon" ng-if="req.selected || req.custom"
                                ng-click="cm.removeReq(req); $event.stopPropagation()"></span>
                        </td>
                    </tr>
                    <!--Edit form-->
                    <tr ng-repeat-end ng-if="req.edit.visible">
                        <td colspan="8" class="no-space">
                            <ps-req-edit-form
                                    ps-ctl="req.edit"
                                    ps-disable-name="!req.custom"
                                    ps-disable-topic="true"></ps-req-edit-form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
