<form name="ctl.editForm" class="form-horizontal selector-edit-form"
        ng-class="ctl.class"
        ng-if="ctl.visible">
    <!--Topic-->
    <div class="form-group">
        <label class="label-col control-label text-left-important">Topic:</label>
        <div class="control-col">
            <ui-select ng-model="ctl.topic.selected" theme="bootstrap"
                    tagging="ctl.topic.onAddNew"
                    tagging-tokens="ENTER"
                    tagging-label="(adding new)"
                    on-select="ctl.topic.onSelect($model)"
                    ng-disabled="disableTopic">
                <ui-select-match placeholder="Select a topic or add a new one...">
                    {{ $select.selected.name }}
                </ui-select-match>
                <ui-select-choices
                        repeat="group in ctl.groups().list | filter:$select.search">
                    <span ng-bind-html="group.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <!--Name-->
    <div class="form-group">
        <label for="req-name" class="label-col control-label text-left-important">Name:</label>
        <div class="control-col">
            <input type="text" id="req-name" class="form-control" placeholder="Name"
                    ng-model="ctl.model.name"
                    ps-focus-on="ctl.visible && !disableName"
                    ng-disabled="disableName"
                    required>
        </div>
    </div>
    <!--Description-->
    <div class="form-group">
        <label for="req-descr" class="label-col control-label text-left-important">Description:</label>
        <div class="control-col">
            <input type="text" id="req-descr" class="form-control" placeholder="Description"
                    ng-model="ctl.model.description"
                    ps-focus-on="ctl.visible && disableName">
        </div>
    </div>
    <!--Mandatory-->
    <div class="form-group">
        <div class="label-col"></div>
        <div class="control-col">
            <label class="checkbox-ext no-select" ng-class="{checked: ctl.model.mandatory}">
                <input type="checkbox" ng-model="ctl.model.mandatory">
                Mandatory
            </label>
        </div>
    </div>
    <!--Buttons-->
    <div class="form-group">
        <div class="label-col"></div>
        <div class="control-col">
            <button type="button" class="btn btn-primary"
                    ng-click="ctl.save()"
                    ng-disabled="ctl.editForm.$invalid">Save
            </button>
            <button type="button" class="btn close inline-close"
                    ng-click="ctl.cancel()">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
        </div>
    </div>
</form>
