<!--Accordion-->
<div class="panel-group selection-list" id="accordion" role="tablist">
    <!--Topic list-->
    <div class="panel panel-default" ng-repeat="group in cm.groups.list | orderBy:'-popularity'"
            ng-if="cm.groups.isVisible(group)"
            ng-class="{visible: group.open}">
        <!--Topic-->
        <div class="panel-heading topic-widget" role="tab"
                id="heading-{{:: group.id }}"
                data-target="#{{:: group.id }}"
                data-toggle="collapse">
            <h4 class="panel-title topic-header">
                <span class="fa fa-caret-right caret-icon"></span>
                {{:: group.name || '(no topic)' }}
                <span class="label label-primary"
                        ng-if="group.sel.number()">{{ group.sel.number() }}</span>
            </h4>
            <div class="topic-details">
                <span>{{:: group.description }}</span>
                <!--<span class="topic-popularity" ng-if="!group.custom"
                        title="Popularity: {{:: group.popularity }}%"
                        ps-tooltip>
                    <ps-progress value="group.popularity"></ps-progress>
                </span>-->
            </div>
        </div>
        <!--Collapsible content-->
        <div class="panel-collapse collapse table-responsive" role="tabpanel"
                id="{{:: group.id }}"
                aria-labelledby="heading-{{:: group.id }}"
                ps-collapse="group"
                ps-collapse-parent="#accordion">
            <table class="table table-hover no-select">
                <thead>
                <tr>
                    <th class="min"></th>
                    <th colspan="2" class="main">Name</th>
                    <th>Description</th>
                    <th class="min center">Mandatory</th>
                    <th class="min center">Popularity</th>
                    <th class="min"><span class="fa fa-fw fa-edit"></span></th>
                    <th class="min"><span class="fa fa-fw fa-trash"></span></th>
                </tr>
                </thead>
                <tbody>
                <!--Criteria list-->
                <tr ng-repeat="req in group.reqs | filter:cm.filter.visible | orderBy:'-popularity' track by req._id"
                        ng-class="{selected: req.selected}"
                        ng-click="cm.toggleReq(req, true)">
                    <td></td>
                    <td class="min">
                        <input type="checkbox"
                                ng-model="req.selected"
                                ng-change="cm.toggleReq(req)"
                                ng-click="$event.stopPropagation()"
                                ps-focus-on="req.focus">
                    </td>
                    <td>{{ req.name }}</td>
                    <td>{{ req.description }}</td>
                    <td class="center">
                        <span class="fa fa-check" ng-if="req.mandatory"></span>
                    </td>
                    <td class="center">
                        <div ng-if="!req.custom"
                                title="{{:: req.popularity }}%"
                                ps-tooltip>
                            <ps-progress value="req.popularity"></ps-progress>
                        </div>
                    </td>
                    <td>
                        <span class="fa fa-fw fa-edit table-icon" ng-if="req.selected || req.custom"
                                ng-click="cm.edit.init(req); $event.stopPropagation()"></span>
                    </td>
                    <td>
                        <span class="fa fa-fw fa-trash table-icon" ng-if="req.selected || req.custom"
                                ng-click="cm.removeLocalReq(req); $event.stopPropagation()"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
