<div class="container-fluid" ng-controller="AuthCtrl as m">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="panel panel-default auth">
                <div class="panel-heading">
                    <h2 class="panel-title">Signup</h2>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning text-center" role="alert" ng-show="m.form.$pristine && m.error.show">
                        <strong>Error:</strong> {{m.error.msg}}.
                    </div>

                    <form class="auth" name="m.form">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <div class="hint" ng-show="m.form.email.$dirty && m.form.email.$invalid">
                                    <span ng-show="m.form.email.$error.required">Required</span>
                                    <span ng-show="m.form.email.$error.email">Invalid email!</span>
                                </div>
                                <input type="email" name="email" class="form-control" placeholder="Your email"
                                        ng-model="m.user.email"
                                        required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <div class="hint" ng-show="m.form.pwd.$dirty && m.form.pwd.$invalid">
                                    <span ng-show="m.form.pwd.$error.required">Required</span>
                                </div>
                                <input type="password" id="password" class="form-control" placeholder="Password"
                                        name="pwd"
                                        ng-model="m.user.password"
                                        required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <div class="hint" ng-show="m.form.pwd2.$dirty && m.form.pwd2.$invalid">
                                    <span ng-show="m.form.pwd2.$error.required">Required</span>
                                    <span ng-show="m.form.pwd2.$error.match">Don't match!</span>
                                </div>
                                <input type="password" id="password2" class="form-control" placeholder="Repeat password"
                                        name="pwd2"
                                        ng-model="m.passwordRepeat"
                                        data-match="m.user.password"
                                        required>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-success pull-right"
                                ng-click="m.signup()"
                                ng-disabled="m.form.$invalid"
                                >Signup
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

