<ng-form name="form">
    <table class="table"
            ng-table="view.tableParams"
            >
        <!--Header-->
        <thead>
        <tr>
            <th ng-repeat="col in view.columns">
                <div>{{:: col.header.label }}</div>
            </th>
        </tr>
        </thead>
        <tbody ng-repeat="group in $groups">
        <!--Group row-->
        <tr class="ng-table-group" ng-show="group.value">
            <td colspan="{{ view.columns.length }}">
                <a href ng-click="group.$hideRows = !group.$hideRows; $event.stopPropagation()" tabindex="-1">
                    <span class="fa fa-fw" ng-class="{ 'fa-caret-right': group.$hideRows, 'fa-caret-down': !group.$hideRows }"></span>
                    {{:: group.value }}
                </a>
            </td>
        </tr>
        <!--Rows & cells-->
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data"
                ng-class="{muted: !row.req.weight}">
            <td class="cell {{:: cell.type }}" ng-repeat="cell in row.cells"
                    ng-class="{'winner' : cell.model.max()}"
                    ng-click="focusInputEl(cell)">
                <!--Label cell-->
                <div ng-if=":: cell.type === 'label' ">{{:: cell.label }}</div>
                <!--Text cell-->
                <div ng-if=":: cell.type === 'text' ">
                    <input type="text" class="cell-input"
                            ng-model="cell.model.value"
                            ps-table-input="cell.model">
                </div>
                <!--Number cell-->
                <div ng-if=":: cell.type === 'number' ">
                    <input type="number" class="cell-input"
                            min="0" max="{{:: cell.max }}"
                            ng-model="cell.model.value"
                            ps-table-input="cell.model"
                            ps-input-number
                            ps-tooltip
                            ps-tooltip-title="cell.model.tooltip()"
                            >
                </div>
            </td>
        </tr>
        </tbody>
        <!--Empty table row -->
        <tr ng-show="view.hasAddLink">
            <td class="attention">
                <span class="clickable"
                        ng-click="view.addEmptyRow()">Click to add</span>
            </td>
        </tr>
        <!--Footer-->
        <tfoot>
        <tr>
            <th class="abs-container" ng-repeat="col in view.columns"
                    ng-class="{'winner' : col.footer.model.max()}">
                <!--Label cell-->
                <div ng-if=":: col.footer.type === 'label' ">{{:: col.footer.label }}</div>
                <!--Func cell-->
                <div ng-if=":: col.footer.type === 'func' ">
                    {{ col.footer.model.value() }}
                </div>
                <!--Winner cup-->
                <span class="fa fa-trophy winner-icon" ng-if="col.footer.model.max()"></span>
            </th>
        </tr>
        </tfoot>
    </table>
</ng-form>
