<table class="table" ng-table="tableParams">
    <thead>
    <tr>
        <th class="sortable"
                ng-class="ctl.tableSortClass(tableParams, 'name')"
                ng-click="ctl.tableSortClick(tableParams, 'name')"
                >
            <div>{{::titles[0]}}</div>
        </th>
        <th class="sortable"
                ng-class="ctl.tableSortClass(tableParams, 'description')"
                ng-click="ctl.tableSortClick(tableParams, 'description')"
                >
            <div>{{::titles[1]}}</div>
        </th>
        <th ng-if="!ctl.compactTable"
                class="sortable"
                ng-class="ctl.tableSortClass(tableParams, 'group')"
                ng-click="ctl.tableSortClick(tableParams, 'group')"
                >
            <div>{{::titles[2]}}</div>
        </th>
        <th ng-if="!ctl.compactTable"
                class="sortable"
                ng-class="ctl.tableSortClass(tableParams, 'priority')"
                ng-click="ctl.tableSortClick(tableParams, 'priority')"
                >
            <div>{{::titles[3]}}</div>
        </th>
        <th class="table-menu">
            <ps-table-popover
                    ps-cont-selector="th"
                    ps-id="table"
                    ps-popover-on="ctl.popoverOn">
                <span class="popover-icon hamburger-icon">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
                <form class="popover-form">
                    <div class="form-group">
                        <label class="checkbox-ext no-select text-nowrap block">
                            <input type="checkbox"
                                    ng-model="ctl.compactTable"
                                    ng-click="ctl.reloadTables()">
                            Compact view
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Group by:</label>
                        <div class="list-group">
                            <a href class="list-group-item"
                                    ng-repeat="opt in ctl.groupByOptions"
                                    ng-class="{'active': opt === ctl.groupBy}"
                                    ng-click="ctl.selectGroupBy(opt)">
                                {{opt || 'none' | capitalize}}
                            </a>
                        </div>
                        <span class="hint" ng-show="criteria.newGroup.show">Press enter</span>
                    </div>
                </form>
            </ps-table-popover>
        </th>
    </tr>
    </thead>
    <tbody ng-repeat="group in $groups">
    <!--Group raw-->
    <tr class="ng-table-group" ng-show="group.value">
        <td colspan="{{cm.compactTable ? 3 : 5}}">
            <a href ng-click="group.$hideRows = !group.$hideRows" tabindex="-1">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                {{group.value}}
            </a>
        </td>
    </tr>
    <tr ng-hide="group.$hideRows" ng-repeat="criteria in group.data" class="editable"
            context-menu="ctl.setCriteriaOfMenu(criteria)"
            data-target="context-menu">
        <td sortable="'name'" ng-class="{'edited': criteria.edit === 'name'}">
            <textarea class="form-control noresize"
                    msd-elastic
                    ng-model="criteria.name"
                    ng-focus="criteria.edit = 'name'; ctl.popoverOn = null;"
                    ng-blur="criteria.edit = false; ctl.updateCriteria()"
                    ps-focus-on="criteria.edit === 'name'"
                    ></textarea>
        </td>
        <td sortable="'description'" ng-class="{'edited': criteria.edit === 'description'}">
            <textarea class="form-control noresize"
                    msd-elastic
                    ng-model="criteria.description"
                    ng-focus="criteria.edit = 'description'; ctl.popoverOn = null;"
                    ng-blur="criteria.edit = false; ctl.updateCriteria()"
                    ps-focus-on="criteria.edit === 'description'"
                    ng-keydown="ctl.criteriaKeyPressed(criteria, $event)"
                    ></textarea>
<!--
            ng-keypress="ctl.criteriaKeyPressed(criteria, $event)"
            ng-keydown="ctl.criteriaKeyPressed(criteria, $event)"
-->
        </td>
        <td class="static"
                ng-if="!ctl.compactTable"
                sortable="'group'">{{criteria.group}}</td>
        <td class="static"
                ng-if="!ctl.compactTable"
                sortable="'priority'">{{criteria.priority}}</td>
        <!--Settings Popover-->
        <td>
            <ps-table-popover
                    ps-cont-selector="td"
                    ps-id="{{group.value + '_crit_' + $index}}"
                    ps-popover-on="ctl.popoverOn"
                    ps-allow-hide="!criteria.newGroup.show"
                    >
                <span class="popover-icon glyphicon glyphicon-cog"></span>
                <form class="popover-form">
                    <div class="form-group">
                        <label class="checkbox-ext no-select text-nowrap block">
                            <input type="checkbox"
                                    ng-model="criteria.priority"
                                    ng-true-value="'required'"
                                    ng-false-value="'optional'"
                                    ng-click="ctl.reloadTables(true)">
                            Required criteria
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Select group:</label>
                        <div class="list-group">
                            <a href class="list-group-item"
                                    ng-repeat="group in ctl.groups"
                                    ng-class="{'active': group === criteria.group}"
                                    ng-click="ctl.setCriteriaGroup(criteria, group)">
                                <span class="glyphicon glyphicon-ok" ng-show="group === criteria.group"></span>
                                {{group || 'None'}}
                            </a>
                            <a href class="list-group-item"
                                    ng-click="criteria.newGroup.show = true">
                                <div class="create-new" ng-show="!criteria.newGroup.show">Create new...</div>
                                <input type="text" class="form-control" placeholder="Group name"
                                        ng-model="criteria.newGroup.value"
                                        ng-show="criteria.newGroup.show"
                                        ps-focus-on="criteria.newGroup.show"
                                        ng-keypress="ctl.groupKeyPressed(criteria, $event)"
                                        ng-keydown="ctl.groupKeyPressed(criteria, $event)"
                                        ng-blur="ctl.groupDone(criteria)">
                            </a>
                        </div>
                        <span class="hint" ng-show="criteria.newGroup.show">Press enter</span>
                    </div>
                </form>
            </ps-table-popover>
        </td>
    </tr>
    </tbody>
</table>