<table class="table"
        ng-table="view.tableParams"
        ng-class="{ 'ng-table-resizable-columns': false }"
        ng-attr-data-resizable-columns-id="{{ false && 'psTable' }}"
        >
    <thead>
    <tr>
        <th ng-repeat="col in view.columns"
                class="text"
                ng-class="view.columnClass(col)"
                ng-click="view.sortBy(col)"
                ng-show="col.visible">
            <div ng-if="col.edit">
                <a href tabindex="-1"
                        ng-show="!col.edit.show"
                        ng-click="view.editColumnCell(col)">{{ col.title }}</a>

                <input type="text" tabindex="-1"
                        ng-show="col.edit.show"
                        ng-model="col.edit.value"
                        ng-blur="view.saveColumnCell(col)"
                        ps-focus-on="col.edit.show === true"
                        ps-select="true"
                        />
            </div>
            <div ng-if="!col.edit">{{col.title}}</div>
        </th>
    </tr>
    </thead>
    <tbody ng-repeat="group in $groups">
    <tr class="ng-table-group" ng-show="group.value">
        <td colspan="{{view.columns.length}}" class="group">
            <a href ng-click="group.$hideRows = !group.$hideRows" tabindex="-1">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                {{group.value}}
            </a>
        </td>
    </tr>
    <tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
            <!-- TODO context-menu="cm.setCriteriaOfMenu(criteria)"
            data-target="context-menu">-->
        <td ng-repeat="col in view.columns"
                ng-init="cell = row[col.field]"
                ng-show="col.visible"
                class="editable"
                ng-class="cell.type">
            <div ng-if="cell.type === 'static'">{{ cell.value }}</div>
            <div ng-if="cell.type === 'number'">
                <input type="text"
                        ng-model="cell.value"
                        ng-blur="view.saveCell(cell)"
                        />
            </div>
            <div ng-if="!cell.type">{{ cell.value }}</div>
        </td>
    </tr>
    </tbody>
</table>