<ng-form name="form{{view.name}}">
    <table class="table"
            ng-table="view.tableParams"
            ng-class="{ 'ng-table-resizable-columns': false }"
            ng-attr-data-resizable-columns-id="{{ false && 'psTable' }}"
            >
        <thead>
        <tr>
            <th ng-repeat="col in view.columns"
                    class="text"
                    ng-class="view.columnClass(col)"
                    ng-click="view.sortBy(col)"
                    ng-show="col.visible">
                <div ng-if="col.edit">
                    <a href tabindex="-1"
                            ng-show="!col.edit.show"
                            ng-click="view.editColumnCell(col)">{{ col.title }}</a>

                    <input type="text" tabindex="-1" class="form-control cell-input"
                            ng-show="col.edit.show"
                            ng-model="col.edit.value"
                            ng-blur="view.saveColumnCell(col)"
                            ng-keydown="onColKeydown($event)"
                            ps-focus-on="col.edit.show === true"
                            ps-select="true"
                            />
                </div>
                <div ng-if="!col.edit">{{col.title}}</div>
            </th>
        </tr>
        </thead>
        <tbody ng-repeat="group in $groups">
        <tr class="ng-table-group" ng-show="group.value">
            <td colspan="{{view.columns.length}}" class="group">
                <a href ng-click="group.$hideRows = !group.$hideRows; $event.stopPropagation()" tabindex="-1">
                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                    {{group.value}}
                </a>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
            <td ng-repeat="col in view.columns"
                    ng-init="cell = row[col.field]"
                    ng-show="col.visible"
                    class="editable"
                    ng-class="view.cellClass(cell)"
                    context-menu="view.menu.setContext({cell: cell})"
                    context-menu-disabled="!view.menu || cell.noMenu"
                    data-target="{{view.menu.id}}">
                <div ng-if="cell.type === 'static'">{{ cell.value }}</div>
                <div ng-if="cell.type === 'multiline'">
                    <textarea class="form-control cell-input noresize"
                            name="{{cell.inputId}}"
                            msd-elastic
                            ng-model="cell.value"
                            ng-focus="onFocus(cell)"
                            ng-blur="onBlur(cell)"
                            ng-keydown="onKeydown(cell, $event)"
                            ps-focus-on="row.edit === cell.field"
                            ></textarea>
                </div>
                <div ng-if="cell.type === 'text'">
                    <input type="text" class="form-control cell-input"
                            name="{{cell.inputId}}"
                            ng-model="cell.value"
                            ng-focus="onFocus(cell)"
                            ng-blur="onBlur(cell)"
                            ng-keydown="onKeydown(cell, $event)"
                            />
                </div>
                <div ng-if="cell.type === 'html-multiline-noempty'">
                    <span ng-if="cell.value" ng-bind-html="cell.value | multiline"></span>
                    <span ng-if="!cell.value" class="attention">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{cell.emptyValue}}
                    </span>
                </div>
                <div ng-if="cell.type === 'popup'">
                    <ps-table-popover
                            ps-cont-selector="td"
                            ps-id="{{group.value + '_crit_' + $index}}"
                            ps-popover-on="view.popoverOn"
                            ps-allow-hide="!view.topic.addNew.show"
                            >
                        <span class="popover-icon glyphicon glyphicon-cog"></span>

                        <form class="popover-form">
                            <div class="form-group">
                                <label class="checkbox-ext no-select text-nowrap block">
                                    <input type="checkbox"
                                            ng-model="cell.edit.priority"
                                            ng-true-value="'required'"
                                            ng-false-value="'optional'"
                                            ng-click="cell.field = 'priority'; cell.value = cell.edit.priority; view.saveCell(cell);">
                                    Required criteria
                                </label>
                            </div>

                            <div class="form-group">
                                <label>Select topic:</label>
                                <div class="list-group">
                                    <a href class="list-group-item"
                                            ng-repeat="topic in view.topic.options"
                                            ng-class="{'active': topic === cell.criteria.group}"
                                            ng-click="cell.field = 'group'; cell.value = topic; view.saveCell(cell);">
                                        <span class="glyphicon glyphicon-ok" ng-show="topic === cell.criteria.group"></span>
                                        {{topic || 'None'}}
                                    </a>
                                    <a href class="list-group-item"
                                            ng-click="view.topic.addNew.show = true">
                                        <div class="create-new" ng-show="!view.topic.addNew.show">Create new...</div>
                                        <input type="text" class="form-control" placeholder="Topic name"
                                                ng-model="view.topic.addNew.value"
                                                ng-show="view.topic.addNew.show"
                                                ps-focus-on="view.topic.addNew.show"
                                                ng-keydown="view.topic.keyPressed(cell, $event)"
                                                ng-blur="view.topic.doneEdit()">
                                    </a>
                                </div>
                                <span class="hint" ng-show="view.topic.addNew.show">Press enter</span>
                            </div>
                        </form>
                    </ps-table-popover>
                </div>
                <div ng-if="cell.type === 'ordinary'">{{ cell.value }}</div>
            </td>
        </tr>
        </tbody>
        <!--Empty table row -->
        <tr ng-show="!view.rows.length">
            <td class="attention">Click to add</td>
        </tr>
    </table>
</ng-form>
