<table class="table" ng-table="tableParams">
    <tbody ng-repeat="group in $groups">
    <!--Group raw-->
    <tr class="ng-table-group" ng-show="group.value">
        <td colspan="{{$columns.length}}">
            <a href ng-click="group.$hideRows = !group.$hideRows">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                {{group.value}}
            </a>
        </td>
    </tr>
    <tr ng-hide="group.$hideRows" ng-repeat="criteria in group.data" class="editable">
        <td data-title="'Must have Criteria'">
            <input type="text"
                    ng-model="criteria.name"
                    ng-focus="criteria.edit = 'name'"
                    ng-blur="criteria.edit = false"
                    ng-keypress="ctl.criteriaKeyPressed(criteria, $event)"
                    ng-keydown="ctl.criteriaKeyPressed(criteria, $event)"
                    ps-focus-on="criteria.edit === 'name'"
                    />
        </td>
        <td data-title="'Description'" class="editable">
            <input type="text"
                    ng-model="criteria.description"
                    ng-focus="criteria.edit = 'description'"
                    ng-blur="criteria.edit = false"
                    ng-keypress="ctl.criteriaKeyPressed(criteria, $event)"
                    ng-keydown="ctl.criteriaKeyPressed(criteria, $event)"
                    ps-focus-on="criteria.edit === 'description'"
                    />
        </td>
        <!--Settings Popover-->
        <td>
            <ps-table-popover>
                <form class="popover-form">
                    <div class="form-group">
                        <label class="checkbox-ext no-select text-nowrap">
                            <input type="checkbox"
                                    ng-model="criteria.table"
                                    ng-true-value="'required'"
                                    ng-false-value="'optional'"
                                    ng-click="ctl.reloadTables()">
                            Must have Criteria
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Select group:</label>
                        <div class="list-group">
                            <a href class="list-group-item"
                                    ng-repeat="group in ctl.groups"
                                    ng-class="{'active': group === criteria.group}"
                                    ng-click="ctl.selectGroup(criteria, group)">
                                <span class="glyphicon glyphicon-ok" ng-show="group === criteria.group"></span>
                                {{group || 'None'}}
                            </a>
                            <a href class="list-group-item"
                                    ng-click="criteria.newGroup = true; $event.preventDefault();">
                                <div class="create-new" ng-show="!criteria.newGroup">Create new...</div>
                                <input type="text" class="form-control" placeholder="Group name"
                                        ng-show="criteria.newGroup"
                                        ps-focus-on="criteria.newGroup">
                            </a>
                        </div>
                    </div>
                </form>
            </ps-table-popover>
        </td>
    </tr>
    </tbody>
</table>