<table class="table" ng-table="tableParams">
    <thead>
    <tr>
        <th>{{::titles[0]}}</th>
        <th>{{::titles[1]}}</th>
        <th class="table-menu">
            <ps-table-th-popover>
                <form class="popover-form">
                    <div class="form-group">
                        <label class="checkbox-ext no-select text-nowrap">
                            <input type="checkbox"
                                    ng-model="ctl.compactTable">
                            Compact view
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Sort by:</label>
                        <div class="list-group">
                            <a href class="list-group-item"
                                    ng-repeat="sort in ctl.sortByOptions"
                                    ng-class="{'active': sort === ctl.sortBy}"
                                    ng-click="ctl.selectSortBy(sort)">
                                <span class="glyphicon glyphicon-ok" ng-show="sort === ctl.sortBy"></span>
                                {{sort || 'None'}}
                            </a>
                        </div>
                        <span class="hint" ng-show="criteria.newGroup.show">Press enter</span>
                    </div>
                </form>
            </ps-table-th-popover>
        </th>
    </tr>
    </thead>
    <tbody ng-repeat="group in $groups">
    <!--Group raw-->
    <tr class="ng-table-group" ng-show="group.value">
        <td colspan="3">
            <a href ng-click="group.$hideRows = !group.$hideRows">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                {{group.value}}
            </a>
        </td>
    </tr>
    <tr ng-hide="group.$hideRows" ng-repeat="criteria in group.data" class="editable">
        <td>
            <input type="text"
                    ng-model="criteria.name"
                    ng-focus="criteria.edit = 'name'; ctl.popoverOn = null;"
                    ng-blur="criteria.edit = false"
                    ng-keypress="ctl.criteriaKeyPressed(criteria, $event)"
                    ng-keydown="ctl.criteriaKeyPressed(criteria, $event)"
                    ps-focus-on="criteria.edit === 'name'"
                    />
        </td>
        <td>
            <input type="text"
                    ng-model="criteria.description"
                    ng-focus="criteria.edit = 'description'; ctl.popoverOn = null;"
                    ng-blur="criteria.edit = false"
                    ng-keypress="ctl.criteriaKeyPressed(criteria, $event)"
                    ng-keydown="ctl.criteriaKeyPressed(criteria, $event)"
                    ps-focus-on="criteria.edit === 'description'"
                    />
        </td>
        <!--Settings Popover-->
        <td>
            <ps-table-popover>
                <form class="popover-form">
                    <div class="form-group">
                        <label class="checkbox-ext no-select text-nowrap">
                            <input type="checkbox"
                                    ng-model="criteria.table"
                                    ng-true-value="'required'"
                                    ng-false-value="'optional'"
                                    ng-click="ctl.reloadTables()">
                            Must have Criteria
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Select group:</label>
                        <div class="list-group">
                            <a href class="list-group-item"
                                    ng-repeat="group in ctl.groups"
                                    ng-class="{'active': group === criteria.group}"
                                    ng-click="ctl.selectGroup(criteria, group)">
                                <span class="glyphicon glyphicon-ok" ng-show="group === criteria.group"></span>
                                {{group || 'None'}}
                            </a>
                            <a href class="list-group-item"
                                    ng-click="criteria.newGroup.show = true">
                                <div class="create-new" ng-show="!criteria.newGroup.show">Create new...</div>
                                <input type="text" class="form-control" placeholder="Group name"
                                        ng-model="criteria.newGroup.value"
                                        ng-show="criteria.newGroup.show"
                                        ps-focus-on="criteria.newGroup.show"
                                        ng-keypress="ctl.groupKeyPressed(criteria, $event)"
                                        ng-keydown="ctl.groupKeyPressed(criteria, $event)">
                            </a>
                        </div>
                        <span class="hint" ng-show="criteria.newGroup.show">Press enter</span>
                    </div>
                </form>
            </ps-table-popover>
        </td>
    </tr>
    </tbody>
</table>