@import "sprite.less";

/*-------------------------------------
* Icons
----------------------------------------*/

.icon,
.icon-sm,
.icon-lg {
  display: inline-block;
}

.icon {
  width: 83px; height: 83px;
}

.icon-sm {
  width: 68px; height: 68px;
}

.icon-lg {
  width: 104px; height: 104px;
}
